@model CompetencySurveyProject.Models.ResetPasswordModel

@{
    Layout = null;
    if(Session["userId"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <style>
        #login-div {
            position: absolute;
            left: 30%;
            top: 30%;
            border: 1px solid #ccc;
            padding: 10px 10px;
            }
        .field-validation-error {
            color: red;
        }
    </style>
</head>

<body>
    <div>
        @using (Html.BeginForm("ChangePassword", "ResetPassword"))
        {
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.CurrentPassword)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.CurrentPassword)
                        <div class="field-validation-error">
                            @Html.ValidationMessageFor(x => x.CurrentPassword)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.NewPassword)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.NewPassword)
                        <div class="field-validation-error">
                            @Html.ValidationMessageFor(x => x.NewPassword)
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>
                        @Html.LabelFor(x => x.ConfirmPassword)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.ConfirmPassword)
                        <div class="field-validation-error">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>
            </table>
        }
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
