@model CompetencySurveyProject.Models.UserDetails

@{
    Layout = null;
    if(Session["userId"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterUser</title>
    <style>
        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome to User Registration Page</h1>
        @using (Html.BeginForm("SubmitUserDetails", "RegisterUser")) { 
            <div>

                <table>
                    <div>
                        <br/>
                        <h4>
                            Welcome @Session["userFullName"].ToString(),
                        </h4>
                    </div>

                <tr>
                    <td>
                        <b>User Id :</b>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.UserId)
                        @Html.ValidationMessageFor(x => x.UserId)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Employee Id :</b>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.EmployeeId)
                        @Html.ValidationMessageFor(x => x.EmployeeId)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Full Name :</b>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.FullName)
                        @Html.ValidationMessageFor(x => x.FullName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Role :</b>
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.RoleId, ViewData["RoleList"] as List<SelectListItem>)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Location :</b>
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.LocationId, ViewData["LocationList"] as List<SelectListItem>)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Email Id :</b>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.EmailId)
                        @Html.ValidationMessageFor(x => x.EmailId)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Mobile Number :</b>
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.MobileNumber)
                        @Html.ValidationMessageFor(x => x.MobileNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit" />
                    </td>
                </tr>
            </table>
            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
            </div>
        }
<br/>
<br/>
<div>
    <a href="@Url.Action("ChangePassword", "ResetPassword")">Change Password</a>
</div>
<div>
    <a href="@Url.Action("LogOut", "Login")">Log Out</a>
</div>
</body>
</html>
